@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat+Subrayada&family=Pattaya&family=Rock+Salt&family=Nunito:wght@700&family=Permanent+Marker&display=swap');*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$title-font: 'Montserrat Subrayada', sans-serif;
$title-font2: 'Rock Salt', cursive;
$title-font3: 'Allura', cursive;
$title-font4: 'Pattaya', sans-serif;
$title-font5: 'Nunito', sans-serif;
$title-font6: 'Permanent Marker', cursive;

$white: #ffffff;

body{
  color: $white;
    background: url("https://wallpapercave.com/wp/wp3395293.jpg");
    background-repeat: repeat-y;
}

.image{
  margin: 10px 20px 10px 0px;
}

hr {
  max-width:100% !important;
  height: 2px;
  background-color:$white;
  margin-bottom:25px;
}


// ######### Landing Page ###########
 .featured-image {
   width: 500px;
   height: 300px;
   background: black;
   margin: 10px 20px 10px 0px;
   border-radius: 1rem;
   object-fit: contain;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border: solid #484444;
 }

.landing-image{
  padding: 4em;
  background-size: cover;
  margin: 60px 0px;
}

.landing-text{
  font-family: $title-font4;
  text-align: left;
  font-style: italic;
  color: $white;
}

.landing-text-header{
  font-family: $title-font2;
  text-align: left;
  font-style: italic;
  color: $white;
}

.landing-text-title{
  font-family: $title-font5;
  text-align: center;
  color: $white;
}

p.landing-text-title {
  font-style: italic;
  font-size: 1.25rem;
}

.green{
  padding: 0px 18px ;
  border-radius: 5rem ;
  color: green;
}

.featured-food, .about-us, .location-map{
  margin: 10px 0px;
  padding: 0px 18px;
  border-radius: 1rem ;
}
.about-us {
  margin: 10px 10px 10px 0px;
}

div.polaroid {
  width: 80%;
  height:95%;
  background-color: #180707;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding:10px;
  border-style: groove;
  border-radius: 2rem;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.image-chef{
  margin: 00px 20px 0px 0px;
  padding-top: 20px;
  border-radius: 100%;
  background: white;

}
// ######### Landing Page END ###########

// ######### NavBar START ###########
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: double;
  border-top: double;
  border-width: 7px;
  border-color: #524a4a;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU2NjYWc5ATVXAkqth1igD1eRug5K6xaGN8A&usqp=CAU");
  background-size: 200px;
  font-family: $title-font4;
}

.container-navbar-left .navbar-logo {
  font-size: 3.5rem;
}

.container-navbar-left .active, .dropdown .dropbtn.active, .navbar .active {
  font-size: 2rem;
  padding: 0 1rem;
}
 .dropdown .dropbtn.active{
  margin-top:10px;
 }

.navbar a {
  float: left;
  font-size: 2.5rem;
  font-style: italic;
  color: $white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: .8s;
}

.container-navbar-left{
  align-items: flex-start;
}

.container-navbar-right{
  display:row;
  align-items: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 2.5rem;
  border: none;
  outline: none;
  color: white;
  padding: 22px 16px 0px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition-duration: .8s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #524a4a;
}

.dropdown-content {
  font-size: .5rem;
  display: none;
  position: absolute;
  background-color: #2B2B2B;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  font-size: 2rem;
  }


.dropdown-content a:hover {
  background-color: #524a4a;
}
.dropdown:hover .dropdown-content {
  display: block;
}
// ######### NavBar END ###########

// ######### Index Pages START ###########
.index-container, .index-container .landing-text-header {
  margin-top: 120px;
  text-align: center;
}
.index-reduce-margin, .index-reduce-margin .landing-text-header{
  margin-top: 10px;
}

.hr-index {
  width: 90%;
}

.food-index-item {
  min-width: 500px;
  max-width: 600px;
  text-align: -webkit-center;
}

.food-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-index-container > div {
  flex:0 33% ;
  margin: 10px;
}

.filter-div {
  color: #ffffff;
  text-align: center;
  padding-top: 120px;
}

.filter-div-white {
  display:inline-block;
  text-align:center;
  background-image: linear-gradient(#000000, #5a4c39);
}

.btn {
  font-family: $title-font5;
  margin: 0px 2px 0px 1px ;
  padding: 16px 16px;
  background-image: linear-gradient(#9a9b9a, #1b1d1b);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(#32c144, #292929);
  transform: scale(1.05)
}

.btn.active {
  background-color: #32c144;
}

// ######### Index Pages END ###########

// ######### Show Page END ###########
div.polaroid-show {
  width: 80%;
  height:95%;
  background-color: #180707;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding:10px;
  border-style: groove;
  border-radius: 1rem;
  min-width: 500px;
  margin-top: 150px;
}

.show-image {
  margin: 10px 20px 10px 0px;
  border-radius: 1rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: solid #484444;
}

// ######### Show Page END ###########